/* 
WARNING, YOU HAVE ENTERED UNAUTHORISED AIRSPACE. 
TRESPASSERS WILL HAVE TO GIVE ME A JOB TO COMPLY.
FAILURE TO COMPLY RESULTS IN SAD MAN.
*/

html { /* mostly for background color */
    scroll-snap-type: y mandatory;
    scroll-snap-stop: always;
    scroll-padding-top: 5vh;
    scroll-behavior: smooth;
    background-color: #1f1f1f;
}

body {
    background-repeat: no-repeat;
    height: 100%;
    text-align: center;
    color: white;
}

.dark-mode {
    background-image: linear-gradient(#1f1f1f, #222222);
    color: #ffffff;
}
.light-mode {
    background-image: linear-gradient(#ffffff, #f0f0f0);
    color: #000000;
}

button {
    border: none;
    background: none;
}

section {
    display: flex;
    scroll-snap-align: start;
}

nav {
    position: fixed;
    height: 5vh;
    font-size: 2.5rem;
    padding-top: 3vh;
}

:root { /* use to make variables */
    --font-family: 'Lato', sans-serif;
    --intext-gradient: linear-gradient(150deg, rgb(190, 110, 255), rgb(116, 160, 255));
    --font-color-darkmode: white;
    --font-color-lightmode: black;
    /* debug variables */
    --border-debug: black;
    --border-type-debug: ;
}

h1 { /* Name heading section */
    font-family: var(--font-family);
    text-align: left;
    font-size: 1.5rem;
    font-weight: 10px;
    padding-left: 3vw;
    /* debug tools */
    border: var(--border-debug);
    border-style: var(--border-type-debug);
}

.aboutme { /* section of generic 'about me' text */
    font-family: var(--font-family);
    text-transform: uppercase;
    font-size: 1.8em;
    font-weight: 20px;
    text-align: center;
    padding-top: 15vh;
    padding-right: 25vw;
    padding-left: 25vw;
    /* debug tools */
    border: var(--border-debug);
    border-style: var(--border-type-debug);
}

h2 { /* Subheadings */
    font-family: var(--font-family);
    text-align: left;
    font-size: 1.5rem;
    font-weight: 10px;
    padding-top: 15vh;
    padding-bottom: 5vh;
    padding-left: 20vw;
    /* debug tools */
    border: var(--border-debug);
    border-style: var(--border-type-debug);
}

h3 { /* Subheadings categories */
    font-family: var(--font-family);
    background-image: var(--intext-gradient);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; 
    -moz-background-clip: text;
    -moz-text-fill-color: transparent;
    text-align: center;
    text-transform: uppercase;
    font-size: 1rem;
    font-weight: 10px;
    /* debug tools */
    border: var(--border-debug);
    border-style: var(--border-type-debug);
}

h4 { /* Subheadings categories titles */
    font-family: var(--font-family);
    text-decoration: none;
    list-style-type: none;
    /* debug tools */
    border: var(--border-debug);
    border-style: var(--border-type-debug);
}

h5 {
    font-family: var(--font-family);
}

p {
    font-family: var(--font-family);
} 

ul, li{ /* paragraphs and lists */
    font-family: var(--font-family);
    font-weight: normal;
    text-decoration: none;
    text-align: left;
    line-height:180%;
    list-style-type: none;
    /* debug tools */
    border: var(--border-debug);
    border-style: var(--border-type-debug);
}

.intextgradient { /* pink to blue colored gradient text */
    background-image: var(--intext-gradient);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; 
    -moz-background-clip: text;
    -moz-text-fill-color: transparent;
}

i { /* icons */
    font-size: 2.5rem;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    background-image: var(--intext-gradient);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; 
    -moz-background-clip: text;
    -moz-text-fill-color: transparent;
    /* debug tools */
    border: var(--border-debug);
    border-style: var(--border-type-debug);
}

.material-symbols-outlined {
  font-variation-settings:
    'FILL' 1,
    'wght' 400,
    'GRAD' 0,
    'opsz' 40;
}

a { /* hyperlinks */
    text-decoration: none;
}

footer { /* copyright text in footer*/
    font-family: var(--font-family);
    font-size: 0.8rem;
    padding-top: 3vh;
    padding-bottom: 3vh;
    /* debug tools */
    border: var(--border-debug);
    border-style: var(--border-type-debug);
}

.grid {
    font-family: var(--font-family);
    /* debug tools */
    border: var(--border-debug);
    border-style: var(--border-type-debug);

    padding-left: 10vw;
    padding-right: 10vw;
    gap: 3vw 3vh;
    display: grid;
    grid-template-columns: 40vw 40vw;
    grid-template-rows: 40vh;
    place-items: center
}

.griditem {
    border-radius: 5px;
    border: rgb(71, 71, 71) solid 1px;
    padding: 2vw;
    text-align: left;
    font-family: var(--font-family);
    font-size: 1rem;
    font-weight: bold;
}

.griditemtextgradient {
    padding: 20px;
    text-align: center;
    font-family: var(--font-family);
    font-size: 1.5rem;
    text-transform: uppercase;
    background-image: var(--intext-gradient);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; 
    -moz-background-clip: text;
    -moz-text-fill-color: transparent;
}