/* mostly for background color */
html {
    scroll-snap-type: y mandatory;
    scroll-snap-stop: always;
    scroll-padding-top: 5vh;
    scroll-behavior: smooth;
}

body {
    background-repeat: no-repeat;
    background-image: linear-gradient(#1f1f1f, #222222);
    height: 100%;
    margin: 0;
    text-align: center;
}

section {
    display: flex;
    scroll-snap-align: start;
}

nav {
    display: block;
    height: 5vh;
    color: white;
    font-size: 40px;
    padding-top: 3vh;
}

:root { /* used to make variables */
    --font-family: 'Lato', sans-serif;
    --intext-gradient: linear-gradient(150deg, rgb(190, 110, 255), rgb(116, 160, 255));
    --font-color-darkmode: white;
    --font-color-lightmode: black;
    /* debug variables */
    --border-debug: black;
    --border-type-debug: ;
}

h1 { /* Name heading section */
    font-family: var(--font-family);
    color: white;
    text-align: left;
    font-size: 24px;
    font-weight: 10px;
    padding-left: 3vw;
    position: fixed;
    /* debug tools */
    border: var(--border-debug);
    border-style: var(--border-type-debug);
}

.aboutme { /* section of generic 'about me' text */
    font-family: var(--font-family);
    color: white;
    text-transform: uppercase;
    font-size: 1.8em;
    font-weight: 20px;
    text-align: center;
    padding-top: 15vh;
    padding-right: 25vw;
    padding-left: 25vw;
    /* debug tools */
    border: var(--border-debug);
    border-style: var(--border-type-debug);
}

h2 { /* Subheadings */
    font-family: var(--font-family);
    color: white;
    text-align: left;
    font-size: 1.5rem;
    font-weight: 10px;
    padding-top: 15vh;
    padding-bottom: 5vh;
    padding-left: 20vw;
    /* debug tools */
    border: var(--border-debug);
    border-style: var(--border-type-debug);
}

h3 { /* Subheadings categories */
    font-family: var(--font-family);
    background-image: var(--intext-gradient);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; 
    -moz-background-clip: text;
    -moz-text-fill-color: transparent;
    text-align: center;
    text-transform: uppercase;
    font-size: 16px;
    font-weight: 10px;
    /* debug tools */
    border: var(--border-debug);
    border-style: var(--border-type-debug);
}

h4 { /* Subheadings categories titles */
    font-family: var(--font-family);
    color: rgb(255, 255, 255);
    text-decoration: none;
    list-style-type: none;
    padding-left: 20px;
    /* debug tools */
    border: var(--border-debug);
    border-style: var(--border-type-debug);
}

h5 {
    font-family: var(--font-family);
    color: white;
    padding-left: 20px;
}

p {
    font-family: var(--font-family);
    color: white;
} 

ul, li{ /* paragraphs and lists */
    font-family: var(--font-family);
    color: rgb(255, 255, 255);
    font-weight: normal;
    text-decoration: none;
    text-align: left;
    line-height:180%;
    list-style-type: none;
    /* debug tools */
    border: var(--border-debug);
    border-style: var(--border-type-debug);
}

.intextgradient_PtoB { /* Pink to Blue colored gradient text */
    font-family: var(--font-family);
    background-image: var(--intext-gradient);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; 
    -moz-background-clip: text;
    -moz-text-fill-color: transparent;
    text-transform: uppercase;
    font-size: 1em;
    font-weight: 20px;
    text-align: center;
}

i { /* icon formatting */
    font-size: 2.5rem;
    padding: 5px;
    text-align: center;
    text-decoration: none;
    background-image: var(--intext-gradient);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; 
    -moz-background-clip: text;
    -moz-text-fill-color: transparent;
    /* debug tools */
    border: var(--border-debug);
    border-style: var(--border-type-debug);
}

.i2 { /* icon formatting */
    font-size: 35px;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    background-image: var(--intext-gradient);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; 
    -moz-background-clip: text;
    -moz-text-fill-color: transparent;
    /* debug tools */
    border: var(--border-debug);
    border-style: var(--border-type-debug);
}

footer { /* copyright text in footer*/
    font-family: var(--font-family);
    color: white;
    font-size: 0.8rem;
    padding-top: 3vh;
    padding-bottom: 3vh;
    /* debug tools */
    border: var(--border-debug);
    border-style: var(--border-type-debug);
}

.grid {
    font-family: var(--font-family);
    /* debug tools */
    border: var(--border-debug);
    border-style: var(--border-type-debug);

    padding-left: 20vw;
    padding-right: 20vw;
    gap: 3vh 3vw;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 300px;
    place-items: center
}

.griditem {
    border-radius: 5px;
    border: rgb(71, 71, 71) solid 1px;
    padding: 2vw;
    text-align: left;
    font-family: var(--font-family);
    color: white;
    font-size: 16px;
    font-weight: bold;
}

.griditemtextgradient {
    background-color: darkgray;
    padding: 20px;
    text-align: center;
    font-family: var(--font-family);
    font-size: 20px;
    text-transform: uppercase;
    background-image: var(--intext-gradient);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; 
    -moz-background-clip: text;
    -moz-text-fill-color: transparent;
}