/* mostly for background color */
body {
    background-repeat: no-repeat;
    background-image: linear-gradient(#1f1f1f, #222222);
    height: 100vh;
    
}

/* for the section with my name */
.title {
    font-family: 'Lato', sans-serif;
    color: white;
    text-align: center;
    text-transform: uppercase;
    font-size: 1em;
    font-weight: 10px;

    width: fit-content;
    padding: 5px 40px 5px 40px;
}

/* section of generic 'about me' text */
.aboutme {
    font-family: 'Lato', sans-serif;
    color: white;

    text-transform: uppercase;
    font-size: 1.5em;
    font-weight: 20px;
    text-align: center;

    padding: 5px 200px 5px 50px;
}

/* Pink to Blue colored gradient text */
.intextgradient_PtoB {
    font-family: 'Lato', sans-serif;
    background-image: linear-gradient(150deg, rgb(190, 110, 255), rgb(116, 160, 255));
    background-clip: text;

    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; 
    -moz-background-clip: text;
    -moz-text-fill-color: transparent;

    text-transform: uppercase;
    font-size: 1.1em;
    font-weight: 20px;
    text-align: center;
}

/* view projects text and underlined */
.viewprojects {
    font-family: 'Lato', sans-serif;
    text-decoration: underline;
    text-underline-offset: 5px;
    color: white;
    text-align: center;
    text-transform: uppercase;
    font-size: 1em;
    font-weight: 10px;

    width: fit-content;
    padding: 5px 40px 5px 40px;
}

/* copyright at bottom of page*/
.copyright {
    font-family: 'Lato', sans-serif;
    color: white;
    font-size: 0.8rem;
    text-align: center;

}